<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml;charset=Shift_JIS" />
<meta name="verify-v1" content="ePPL3qVW/7DeTPnasbxeygRQZ2pcSSeKm/y5ixvw7dE=" />
<meta name="viewport" content="width=device-width,user-scalable=no" />
<meta name="keywords" content="<% yield_content :keyword %>,2ch,画像,まとめ" />
<meta name="description" content="<% yield_content :description %>。2chに投稿された面白画像やH画像が大量！。毎日チェックしよう！モバイル版" />
<title><% yield_content :title %> - 2ch画像まとめモバイル</title>
<style type="text/css"><![CDATA[body{margin:0;}p{margin:0.5em 0;}a:link{color:#068;}a:focus{color:#fff;}a:visited{color:#068;}]]></style>
</head>
<body style="color:#333;background-color:#fff;font-size:small">
<div style="background-color:#666;color:#fff;text-align:center;">
<a id="top" name="top">2ch画像まとめモバイル</a>
</div>
<%= yield %>
<%= hr %>
<div style="text-align:center;">
<div><a href="mailto:?body=<%= request.url %>"><span style="color:#F86;">友達に教える</span></a></div>
<div><a href="/">2ch画像まとめモバイルTOP</a></div>
<div>(C) 2009 Giox.org</div>
</div>
<img src="//t7.aqtracker.com/cgi-bin/asp/tagx/h/ZD5LGQBTRFHFAY2657VL/2=http%3A%2F%2Fp2m.giox.org%2F/blank.gif?guid=on" />
</body>
</html> 
